<h2>Usuarios</h2>

<!-- Formulario para crear nuevo usuario -->
 <form #f="ngForm" (ngSubmit)="guardar()" *ngIf="!usuarioEditando">
<!-- <form (ngSubmit)="guardar()" *ngIf="!usuarioEditando"> -->
  <input [(ngModel)]="nuevo.nombre" name="nombre" placeholder="Nombre" required />
  <!-- <input [(ngModel)]="nuevo.email" name="email" placeholder="Email" required /> -->
   <input
    type="email"
    [(ngModel)]="nuevo.email"
    name="email"
    placeholder="Email"
    required
    email
    #campoEmail="ngModel"
  />
  <div *ngIf="campoEmail.invalid && campoEmail.touched" style="color: tomato; font-size: .9em;">
    <!-- <span *ngIf="campoEmail.errors?.['required']">El email es obligatorio.</span> -->
    <span *ngIf="campoEmail.errors?.['email']">Email inválido.</span>
  </div>
  <button type="submit" [disabled]="!f.form.valid">
    Guardar
  </button>
  <!-- <button type="submit">Guardar</button> -->
</form>

<!-- Formulario para editar usuario existente -->
<form (ngSubmit)="actualizar()" *ngIf="usuarioEditando">
  <input [(ngModel)]="usuarioEditando.nombre" name="nombreEditar" placeholder="Nombre" required />
  <input [(ngModel)]="usuarioEditando.email" name="emailEditar" placeholder="Email" required />
  <button type="submit">Actualizar</button>
  <button type="button" (click)="cancelarEdicion()">Cancelar</button>
</form>

<ul>
  <li *ngFor="let u of usuarios">
    {{ u.nombre }} - {{ u.email }}
    <button (click)="editar(u)">Editar</button>
    <button (click)="confirmarEliminar(u)">Eliminar</button>


  </li>
</ul>
